[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=qonyx-send2boox
Comment=qt onyx-send2boox
Type=Application
Exec=qonyxsend2boox
Icon=qonyxsend2boox
;Terminal=false
StartupNotify=true
Categories=Application;python;
;MimeType=image/gif;image/png;image/jpg;
;Keywords=;

;Type=Link
;URL=/usr/share/applications/qonyxsend2boox.desktop
